<!--<div class="container">
    <div class="form-container">
        <h3 class="heading">Forgot Password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email" class="email-field">Email:</label>
                <input type="email" id="email" formControlName="email" required>
            </div>
            <button type="submit" class="submit">Reset Password</button>
        </form>
    </div>

    <div *ngIf="passwordResetSent" class="message">
        Password Reset Link has been sent to your mail. Please check.
    </div>
</div>-->

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Forgot Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock px-2"></span>
                                    <input formControlName="email" type="email" placeholder="enter your email" />
                                </div>
                            </div>
                            <small *ngIf="
                            resetForm.controls['email'].dirty &&
                            resetForm.hasError('required', 'email')
                  " class="text-danger">
                                *Email is required
                            </small>
                            <button type="submit"  class="btn btn-primary btn-block mt-4 w-100">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="passwordResetSent" class="message styled-message">
            Password Reset Link has been sent to your mail. Please check.
        </div>
    </div>
</div>