<section id="main">
    <!--main-content----------------------------->
    <div class="main-content">
        <!--text------------>
        <div class="main-text">
            <span>Collection</span>
            <h1>Comfortable T-Shirts with Great Comfort</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, eveniet necessitatibus id cum cumque corrupti delectus, eligendi labore possimus beatae.</p>
            <a href="#">Shop Now</a>
        </div>
        <!--img------------->
        <div class="main-img">
            <img src="assets/Images/images/main.png" alt="shirt">
        </div>
    </div>
    </section>


<div class="container">
    <div class="row">
      <div class="col-2">
        <h1>Give Your Workout A New Style! </h1>
        <p>Success isnt all about greatness. Its about consistency,hardwork,Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, adipisci!</p>
        <a  routerLink='/product' href="" class="btn">Explore Now &#8594;</a>
      </div>
      <div class="col-2">
        <img src="assets/Images/images/image1.png">
        </div>
        </div>
        </div>
        

<br>
<div class="categories">
    <div class="small-container">
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-3" style="cursor: pointer;">
                <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/watch/w/s/d/-original-imagnqcjgxcxmfjb.jpeg?q=70" height="320px" routerLink="/detail/53">
            </div>
            <div class="col-3" style="cursor: pointer;">
                <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shirt/u/f/k/-original-imagp8qeyvupdtzh.jpeg?q=70" height="320px" routerLink="/detail/24">
            </div>
            <div class="col-3" style="cursor: pointer;">
                <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/bangle-bracelet-armlet/x/r/b/-original-imagqg3atzegghhk.jpeg?q=70" height="320px" routerLink="/detail/29">
            </div>
        </div>
    </div>
</div>


<ng-image-slider
    #nav
    [images]="imageUrls"
    [infinite]="false"
    [imageSize]="{width: '1500px', height: 350}"
    slideImage="1"></ng-image-slider>


<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4" style="cursor: pointer;">
            <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shirt/k/y/e/m-maw22eppcsh078c-metronaut-original-imaggd5u44xjzb6e.jpeg?q=70" routerLink="/detail/23">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.500</p>
        </div>
        <div class="col-4" style="cursor: pointer;">
            <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/sandal/0/v/z/-original-imagqbw5gjqbc4kg.jpeg?q=70" routerLink="/detail/49">
            <h4>Men's Atlantis Running Shoes</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.500</p>
        </div>
        <div class="col-4" style="cursor: pointer;">
            <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/watch/w/s/d/-original-imagnqcjgxcxmfjb.jpeg?q=70" routerLink="/detail/53">
            <h4>Fast Track Watch</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs.500</p>
        </div>
        <div class="col-4">
            <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/suitcase/q/f/q/-original-imagz4qksdqwgjcb.jpeg?q=70"routerLink="/detail/52">
            <h4>Trolley Bags</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-0"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.1500</p>
        </div>
    </div>
</div>

<!--
<div class="popular-brands">
    <div class="gradient" style="--color: #fe7831"></div>
    <div class="container">
      <div class="head">
        <h2>Popular Brands</h2>
      </div>
      <div class="brands">
        <div class="brand">
          <img src="assets/Images/images/brand1.png" alt="yes" />
        </div>
        <div class="brand">
          <img src="assets/Images/images/brand2.png" alt="" />
        </div>
        <div class="brand">
          <img src="assets/Images/images/brand3.png" alt="" />
        </div>
        <div class="brand">
          <img src="assets/images/brands/brand4.png" alt="" />
        </div>
      </div>
    </div>
  </div>-->




<!--Banner-->

<section id="banner">
    <div class="banner-text">
        <strong>Beautiful shoes</strong>
        <span>From Rs.500</span>
        <p>Long Lasting an comfortable to use.This is only for you</p>
        <a href="#">Shop Now</a>
    </div>
    <div class="banner-img">
        <img src="assets/Images/images/banner.png">
    </div>
</section>


<section class="todays_deals_cont">
    <div class="todays_deals_heading">
        <h1>Today's Deals</h1>
        <p><a href="#">See all deals</a></p>
    </div>

    <div class="today_deals_product_cont">
        <div class="today_deals_product_list">
            <div class="today_deals_product_item">
                <img src="https://m.media-amazon.com/images/I/31nQtukA3bL._AC_SY200_.jpg">
                <div class="discountcont">
                    <a href="#">Up to 50% Off</a>
                    <a href="#">Deal of the Day</a>
                </div>
                <p>adidas and office footwear</p>
            </div>
            <div class="today_deals_product_item">
                <img src="https://m.media-amazon.com/images/I/31nQtukA3bL._AC_SY200_.jpg">
                <div class="discountcont">
                    <a href="#">Up to 50% Off</a>
                    <a href="#">Deal of the Day</a>
                </div>
                <p>adidas and office footwear</p>
            </div>
            <div class="today_deals_product_item">
                <img src="https://m.media-amazon.com/images/I/31nQtukA3bL._AC_SY200_.jpg">
                <div class="discountcont">
                    <a href="#">Up to 50% Off</a>
                    <a href="#">Deal of the Day</a>
                </div>
                <p>adidas and office footwear</p>
            </div>

        </div>
    </div>
</section>
<!--Offer-->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="assets/Images/images/exclusive.png"  width="400px" height="420px" alt="" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available in Amazon</p>
                <h1>Smart Band</h1>
                <small>The Mi Smart Band 4 features a 39.9% larger Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus aperiam inventore odit iusto voluptas aliquid soluta illo eum voluptates at.</small>
               <br> <a  routerLink='/product' href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<br>

<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, consectetur? Lorem ipsum dolor sit amet.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-0"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="assets/Images/images/user-1.png">
                <h3>Devi</h3>

            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, consectetur? Lorem ipsum dolor sit amet.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="assets/Images/images/user-2.png">
                <h3>Mark</h3>

            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, consectetur? Lorem ipsum dolor sit amet.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <img src="assets/Images/images/user-3.png">
                <h3>Keerthi</h3>

            </div>
        </div>
    </div>
</div>
  
<footer>
    <div class="footer-container">

        <div class="footer-logo-container">
            <!--logo-------------->
            <div class="footer-logo">
                LOGO
            </div>
            <span>&#169; 2021 PeachPay, Inc.</span>
            <!--social-links------>
            <div class="footer-social">
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>





        <!--footer-menu---------------------------------------->
        <div class="footer-menu">

            <!--footer-menu-box----->
            <div class="footer-menu-box">
                <strong>Product</strong>
                <ul>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Latest Kids Clothes</a></li>
                    <li><a href="#">New Men Shoes</a></li>
                </ul>
            </div>

            <!--footer-menu-box----->
            <div class="footer-menu-box">
                <strong>Contact</strong>
                <ul>
                    <li>sathwika@gmail.com</li>
                    <li>+91-7986654434</li>
                </ul>
            </div>

            <!--footer-menu-box----->
            <div class="footer-menu-box">
                <strong>Useful Links</strong>
                <ul>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <!--footer-menu-box----->
            <div class="footer-menu-box">
                <strong>Company 2</strong>
                <ul>
                    <li><a href="#">Coupons</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
            </div>
        </div>


     
    </div>
    </footer>
    <span class="copyright">Copyright 2021 - GoingToInternet</span>
<!--

<div class="footer">
    <div class="container-1">
        <div class="row-1">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="assets/Images/images/play-store.png" alt="" srcset="">
                    <img src="assets/Images/images/app-store.png" alt="" srcset="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../assets/Images/images/one.jpg">
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, optio.</p>
             </div>


            <div class="footer-col-3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Orders</li>
                    <li>FAQ's</li>
                    <li>Return Policy</li>
                </ul>
             </div>
             
             <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
             </div>

        </div>
        <hr>
        <p class="copy-right">copyright 2020</p>
    </div>
</div>
-->